.alertDiv
      {
        position: fixed;
        -webkit-backdrop-filter: blur(44px);
        backdrop-filter: blur(13px);
        box-shadow: 0px 0px 26px black;
        bottom: -1000px;
        width: 40%;
        left: 2.5%;
        margin: 0%;
        padding: 1%;
        padding-bottom: 2%;
        margin-bottom: 2%;
        text-align: center;

        font-size: large;
        color: white;

        background-color: rgb(25,25,25,0.4);
        border-radius: 1.5em;

        z-index: 7;
      }

      #fileName
      {
        background-color: rgb(25,25,25,0.2);
        border-radius: 1000em;
        padding: 0.5%;
        color: white;
        padding-left: 2.5%;
        box-shadow: 0px 0px 13px black;
        padding-right: 2.5%;
        margin: 1%;
        width: 30%;
        font-size: x-large;
        font-family: QuickSand;
        margin-top: -2%;

        transition: all 0.25s;
        border: 0.1em solid transparent;

        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);

      }

      #fileName:hover
      {
        box-shadow: 0px 0px 13px black;
        border: 0.1em solid white;
      }

      #fileName:focus
      {
        background-color: white;
        color: black;
        outline: none;
        box-shadow: 0px 0px 13px black;
      }

      .downloadButton
      {
        background-color: rgb(25,25,25);
        border-radius: 4em;

        border: none;
        font-size: xx-large;
        text-align: center;
        color: white;
        box-shadow: 0px 0px 13px black;
        margin-bottom: 0%;

        transition: all 0.25s;
      }

      .downloadButton:hover
      {
        transform: scale(1.1);
        background-color: white;
        color: black;
      }

      .downloadButton:active
      {
        transform: scale(0.9);
      }

      .downloadIcon
      {
        width: 35px;
        margin-top: 10%;
      }

      .exportOn
      {
        animation-name: bottomUP;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      .exportOff
      {
        animation-name: bottomDOWN;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      @keyframes bottomUP
      {
        100%
        {
          transform: translateY(-1000px);
        }
      }

      @keyframes bottomDOWN
      {
        0%
        {
          bottom: 0px;
        }

        100%
        {
          opacity: 0;
        }
      }