.helpEmailLink
{
  text-decoration: none;
  padding: 4%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 10em;
  background-color: rgb(25,25,25);
  box-shadow: 0px 0px 13px black;
  color: white;
  font-family: 'QuickSand';

  transition: all 0.25s;
}

.helpEmailLink:hover
{
  color: black;
  background-color: white;
}

#helpButton
{
  font-size: x-large;
  left: 10%;
}

#helpDiv
      {
        position: fixed;
        top: 10%;
        right: -1000px;
        bottom: 4%;
        margin: 0%;
        margin-right: 1%;  

        padding-top: 1%;
        padding-bottom: 10%;
        padding-left: 0.5%; 
        padding-right: 0.5%; 
        text-align: center;

        width: 33%;
        
        z-index: 1;
        font-size: large;

        border-radius: 1.5em;
/*
        border-top-left-radius: 0em;
        border-bottom-left-radius: 0em;
*/

        box-shadow: 0px 0px 26px black;
        background-color: transparent;

        -webkit-backdrop-filter: blur(13px);
        backdrop-filter: blur(13px);

        overflow-y: scroll;

      }

      .helpArticle
      {
        
        padding: 4%;
        margin: 1%;
        margin-bottom: 7%;
        border-radius: 1.5em;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: large;
        
        background-color: rgb(13,13,13);
        box-shadow: 0px 13px 13px black;
        transition: all 0.25s;
      }

      /*.helpArticle:hover
      {
        background-color: white;
        padding: 5%;
        margin: 0%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 4%;
        box-shadow: 0px 13px 13px rgb(200,200,200);
      }*/

      h1
      {
        margin-left: 0%;
      }

      #helpDiv::-webkit-scrollbar 
      {
        display: none;
      }

      #helpDiv
      {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

      li
      {
        border-radius: 1em;
        box-shadow: 0px 0px 26px black;
        background-color: rgb(25,25,25);
        padding: 4%;
        text-align: left;  
        transition: all 0.25s;
      }

      .helpOn
      {
        animation-name: slideRight;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      .helpOff
      {
        animation-name: slideLeft;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }

      @keyframes slideRight
      {
        100%
        {
          transform: translateX(-1000px);
        }
      }

      @keyframes slideLeft
      {
        0%
        {
          right: 0px;
        }

        100%
        {
          opacity: 0;
        }
      }

